# {{ ansible_managed }}

check process exim4 with pidfile /var/run/exim4/exim.pid
    start program = "/bin/systemctl start exim4.service"
	stop program = "/bin/systemctl stop exim4.service"
	restart program = "/bin/systemctl restart exim4.service"
    if failed port 25 protocol smtp for 60 cycles then alert
    if does not exist then alert
