---
alerts:
  active: off
  email:
    # server: localhost:25
    to:
      - alarm@westtel.com
    from:
      address: irr@{{ ansible_hostname }}
      phrase: {{ ansible_hostname }}
    # warning escalation checked once-per-minute
    reminder_sec: 3600
    all_clear_sec: 60
recordings:
  dir: /var/opt/irr_recordings
  opus_complexity: 0
  assume_death_seconds: 86400 # default is 120, 86400 is one day
db:
  # Postgres URI documentation: https://www.postgresql.org/docs/current/static/libpq-connect.html
  # uri: postgresql://user:password@domain.or.ip/database
  # default is empty string
  uri: postgresql://irr:notarealpassword@localhost/irr
  retention:
    limit: 500
    # if interval is changed, a retention pass will happen
    # in the next 10 seconds
    # afterwards, will happen interval by interval
    interval: 3600
log:
  destination: systemd # or stdout
  ptk_xml: no # print ptk XML from controller, minus heartbeat ACK
  missed_rtp_frames: 1
rtp:
  # how long do we wait to play a call?
  offset: 1.5
  # do we always send packets to the endpoints, or when
  # there is a call ongoing?
  always_play: true
  # units are in terms of 16-bit signed values
  comfort:
    # white noise
    level: 150
    detection_level: 100
  # psap_toolkit:
  #   address: 192.168.1.11
  #   port: 50020
  #   position: 7
  #   ignore_on_hold: false
  #endpoints:
    #- address: 192.168.0.137
    #  port: 4444
    #  position: 1
    #  format: BARIX_PCM_8kHZ_104
    #- address: 192.168.58.168
    #  port: 4444
    #  position: 1
    #  format: BARIX_PCM_8kHZ_104 # also ULAW_8kHZ_0 and ALAW_8kHZ_8
    #  volume: 1.0 # default is 1.0
