 # {{ ansible_managed }}

 check process tftpd-hpa with pidfile "/run/tftpd-hpa.pid"
	start program = "/bin/systemctl start tftpd-hpa.service"
	stop program = "/bin/systemctl stop tftpd-hpa.service"
	restart program = "/bin/systemctl restart tftpd-hpa.service"
	if 3 restarts within 3 cycles then timeout
	if does not exist then alert
