# {{ ansible_managed }}

*mangle
:PREROUTING ACCEPT
:INPUT ACCEPT
:FORWARD ACCEPT
:OUTPUT ACCEPT
:POSTROUTING ACCEPT

# mark RTP packets with EF
# the source ports are located in /etc/freeswitch/autoload_configs/switch.xml
# TODO: are they named rtpportstart and rtpportend?
-A OUTPUT -p udp -m udp --sport 10000:20000 -j DSCP --set-dscp 0x2e

# mark SIP UDP packets with CS3
-A OUTPUT -p udp -m udp --sport 5060 -j DSCP --set-dscp 0x18
-A OUTPUT -p udp -m udp --dport 5060 -j DSCP --set-dscp 0x18

# mark SIP TCP packets with CS3
-A OUTPUT -p tcp -m tcp --sport 5060 -j DSCP --set-dscp 0x18
-A OUTPUT -p tcp -m tcp --dport 5060 -j DSCP --set-dscp 0x18

# mark SIP TLS packets with CS3
-A OUTPUT -p tcp -m tcp --sport 5061 -j DSCP --set-dscp 0x18
-A OUTPUT -p tcp -m tcp --dport 5061 -j DSCP --set-dscp 0x18
COMMIT

*nat
:PREROUTING ACCEPT
:INPUT ACCEPT
:OUTPUT ACCEPT
:POSTROUTING ACCEPT
COMMIT

*filter
:INPUT ACCEPT
:FORWARD ACCEPT
:OUTPUT ACCEPT
COMMIT
